body
{
  /*background-image: url(images/background-19.png);*/
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
  background-color: #ffffff;
}

img
{
  height: auto;
  width: 100%;
}

.column .left, .column .right {
  width: 100%;
  justify-content: center;
  height: auto;
}
