body {
  /*background-image: url(images/background-19.png);*/
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
  background-color: #DBE0DD;
}

/* #region section1 */

.section1 .column {
  float: left;
  border: none;
}

.section1 .left {
  width: 50%;
  height: 100%;

  display: flex;
  justify-content: flex-end;
  padding-left: 20vw;
}

.section1 .right {
  width: 50%;
  height: 100%;
  padding-right: 7vw;
  padding-top: 10vh;
}

.section1 .left img {
  max-height: 90vh;
  display: flex;
  padding-bottom: 10%;
  margin: 0;
}

.section1 h1 {
  color: #658071;
  font-weight: 500;
}

.section1 p {
  color: #658071;
}

/* #endregion section1 */

/* #region section2 */
model-viewer {
  height: 80vh;
  width: 100%;
  background-color: #D1DDDD;
}

:focus-visible {
  outline: none;
}

.section2 {
  padding: 0 20vh 5vh 20vh;
}

.section2 h3 {
  color: #658071;
  font-weight: 500;
  font-size: 1.2em;
}
/* #endregion section2 */

/* #region mobile version */
@media screen and (max-width: 900px){
body {
  background-image: none;
}

.section1 .column {
  float: none;
  padding: 0;
}

.section1 {
  padding: 5%;
}

.section1 .column br {
  display: none;
}

.section1 h1, .section1 p, .section1 .buttonBorder, .section2 h3 {
  color: #658071;
}
.section1 .buttonBorder {
  border-bottom: 2px solid #658071;
}

.section1 .left, .section1 .right {
  width: 100%;
  justify-content: center;
}

.section2 {
  padding: 0;
  margin-top: 5vh;
  padding: 5%;
}

.section1 .left img {
  display: none;
}

}
/* #endregion mobile version */
