body {
  background-image: url(images/background-19.png);
  background-size: contain;
  background-repeat: no-repeat;
}

/* #region section1 */

.section1 .column {
  float: left;
  border: none;
}

.section1 .left {
  width: 50%;
  height: 100%;

  display: flex;
  justify-content: flex-end;
  padding-left: 20vw;
}

.section1 .right {
  width: 50%;
  height: 100%;
  padding-right: 7vw;
  padding-top: 10vh;
}

.section1 .left img {
  max-height: 90vh;
  display: flex;
  padding-bottom: 10%;
  margin: 0;
}

.section1 h1 {
  color: #774018;
  font-weight: 500;
}

.section1 p {
  color: #774018;
}

/* #endregion section1 */

/* #region section2 */
model-viewer {
  height: 80vh;
  width: 100%;
  background-color: #D1DDDD;
}

:focus-visible {
  outline: none;
}

.section2 {
  padding: 0 20vh 5vh 20vh;
}

.section2 h3 {
  color: #774018;
  font-weight: 500;
  font-size: 1.2em;
}
/* #endregion section2 */
