body {
  margin: 0;
}

* {
  box-sizing: border-box;
  font-family: 'Ubuntu', sans-serif;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* #region nav bar */

/* the whole navigation bar */
.nav-bar {
  display: flex; /*important*/
  align-items: center; /*important*/

  padding: 10px;
  padding-right: 20px;
}

/* the navigation bar text container */
.nav-text {
  width: 100%;

  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

/* the navigation bar text list */
.nav-text li {
  display: flex;
  align-items: center;

  list-style-type: none;
  font-weight: 500;

  margin-right: 50px;
}

.nav-text li a {
  text-decoration: none;
  color: #658071;
  font-size: 1rem;
}

.nav-text li:hover {
  cursor: pointer;
}

/* the navigation bar logo */
.nav-logo {
  height: 27px;
  margin: 10px;
  margin-left: 50px;
}

.nav-logo:hover {
  cursor: pointer;
}

/* #endregion of nav bar */

/* #region headings */
h1 {
  font-size: 2.5em;
  font-weight: 400;
}

/* #endregion headings */

/* #region buttons */
button:hover {
  cursor: pointer;
  transition-duration: .2s;
}

.buttonBorder {
  padding: 15px 20px 15px 20px;
  background-color: transparent;
  text-transform: uppercase;

  border: none;
  border-bottom: 2px solid #774018;

  font-weight: 500;
  font-size: 1em;
  color: #774018;
}

.buttonBorderFull {
  padding: 15px 20px 15px 20px;
  background-color: transparent;

  border: none;
  border: 2px solid #658071;

  font-weight: 400;
  font-size: 1em;
  color: #658071;
}
.buttonBorderFull:hover {
  background-color: #658071;
  color: white;
}


.buttonFull {
  padding: 15px 20px 15px 20px;
  background-color: #658071;
  font-weight: 400;
  font-size: 1em;
  color: white;
  border: 2px solid #658071;
}
.buttonFull:hover {
  cursor: pointer;
  background-color: white;
  border: 2px solid #658071;
  color: #658071;
}



/* #endregion buttons */
