body {
  margin: 0;
}

* {
  box-sizing: border-box;
  font-family: 'Ubuntu', sans-serif;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.row {
  padding: 5%;
}

/* #region nav bar */

/* the whole navigation bar */
.nav-bar {
  display: flex; /*important*/
  align-items: center; /*important*/
  overflow: hidden;

  padding: 10px;
  padding-right: 20px;
}

.nav-bar .icon {
  display: none;
}

/* the navigation bar text container */
.nav-text {
  width: 100%;

  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

#title {
  white-space: nowrap;
  font-weight: 500;
  margin-left: 1vw;
  text-decoration: none;
  color: black;
}

/* the navigation bar text list */
.nav-text li {
  display: flex;
  align-items: center;

  list-style-type: none;
  font-weight: 500;

  margin-right: 50px;
}

.nav-text li a {
  text-decoration: none;
  color: black;
  font-size: 1rem;
}

.nav-text li:hover {
  cursor: pointer;
}

/* the navigation bar logo */
.nav-logo {
  height: 27px;
  margin: 10px;
  margin-left: 50px;
}

.nav-logo:hover {
  cursor: pointer;
}

.X{
  display:none;
}

.nav-bar-mobile {
  display: none;
}

/* #endregion of nav bar */

/* #region headings */
h1 {
  font-size: 2.5em;
  font-weight: 400;
}

/* #endregion headings */

/* #region buttons */
button:hover {
  cursor: pointer;
  transition-duration: .2s;
}

button:focus {
  outline: none;
}

.buttonBorder {
  padding: 15px 0 15px 0;
  background-color: transparent;
  text-transform: uppercase;

  border: none;
  border-bottom: 2px solid #658071;

  font-weight: 500;
  font-size: 1em;
  color: #658071;
}

.buttonBorderFull {
  padding: 15px 20px 15px 20px;
  background-color: transparent;

  border: none;
  border: 2px solid #658071;

  font-weight: 400;
  font-size: 1em;
  color: #658071;
}
.buttonBorderFull:hover {
  background-color: #658071;
  color: white;
}


.buttonFull {
  padding: 15px 20px 15px 20px;
  background-color: #658071;
  font-weight: 400;
  font-size: 1em;
  color: white;
  border: 2px solid #658071;
}
.buttonFull:hover {
  cursor: pointer;
  background-color: white;
  border: 2px solid #658071;
  color: #658071;
}



/* #endregion buttons */

/* #region mobile version */
@media screen and (max-width: 900px){

#title {
  /*display: none;*/
}

.nav-bar {
  /*padding: 0;*/
}

.nav-bar .nav-logo {
  /*margin: 0;*/
}

.nav-logo {
  margin-left: 2vw;
}

.nav-bar .icon {
  display: block;
  color: black;
  z-index: 100;
  transform: scale(1.2);
}

.overlay{
  position: fixed;
  width: 0;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #658071;
  z-index: 1;
}

.X{
  display: none;
  z-index: 2;
  position: fixed;
  justify-content: flex-end;
  top: 3px;
  right: 15px;
  color: white;
  font-size: 40px;
  margin-left: 45px;
  height: 50px;
  padding: 0;
  transition: 0.3s;
  cursor: pointer;
  font-weight: lighter;
  font-family: "Segoe UI Light", Avenir Next Ultra Light, sans-serif;
}

.nav-bar-mobile {
  position: fixed;
  z-index: 3;
  width: 100%;
  height: 100%;
  list-style: none;
  font-size: 30px;
  height: 60px;
  padding: 0;
  top: 25%;
}

.nav-bar ul * {
  display: none;
}

.nav-bar-mobile li a {
  text-decoration: none;
  color: white;
}

.nav-bar-mobile li {
  margin-top: 10%;
  text-align: center;
}

}

/* #endregion mobile version */
