/* #region slideshow */

body {
  font-family: Verdana, sans-serif;
  margin: 0;
}

.mySlides {
  display: none;
}

.mySlides img {
  height: 100%;
  width: 100%;
}

/* Slideshow container */
.slideshow-container {
  max-width: 80vh;
  max-height: 100%;
  position: relative;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: none;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration:0.2s;
  animation-name: fade;
  animation-duration: 0.2;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/* #endregion slideshow */

/* #region section1 */
.section1 {
  background-color: white;
  padding-top: 5vh;
  padding-left: 10vw;
}

.section1 .column {
  float: left;
  border: none;
}

.section1 .left {
  width: 50%;
  height: 100%;

  display: flex;
  justify-content: center;
}

.section1 .right {
  width: 50%;
  height: 100%;
  padding-right: 12vw;
  padding-left: 5vw;
  padding-top: 10vh;
}

.section1 .left img {
  max-height: 90vh;
  height: auto;
  width: auto;
  display: flex;
  padding-bottom: 10%;
  margin: 0;
}
.section1 img:hover {
  cursor: pointer;
}

.buttonFull {
  margin-right: 1vh;
}
/* #endregion section1 */

/* #region section2 */
.section2 {
  background-color: #DBE0DD;
  padding: 5vh 10vw 5vh 10vw;
  height: 80vh;
}

.section2 .column {
  float: left;
  border: none;
}

.section2 .left {
  width: 40%;
  height: 100%;

  display: flex;
  justify-content: center;
}

.section2 .right {
  width: 60%;
  height: 100%;
}

.section2 model-viewer  {
  background-color: transparent;
  width: 100%;
  height: 100%;
}
/* #endregion section2 */
